/* Chrome, Edge, Safari */
.scroll-invisible::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.scroll-invisible {
  scrollbar-width: none; /* Oculta en Firefox */
}

.scroll-invisible {
  -ms-overflow-style: none; /* IE 10+ */
}

.ant-table-cell::before {
  content: none !important;
  height: 80% !important;
  margin: auto !important;
  width: 0.5 !important;
  /* background-color: red !important; */
}
